﻿@model PinefallStudios.EasyLog.Web.ViewModels.ListMessageViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                <select id="select-application">
                    @foreach (var app in Model.Applications)
                    {
                        <option>@app</option>
                    }
                </select>
            </th>
            <th>Assembly</th>
            <th>Class</th>
            <th>Method</th>
            <th>Description</th>
            <th>
                <select id="select-severity">
                    @foreach (var severity in Model.Severities)
                    {
                        <option>@severity</option>
                    }
                </select>
            </th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var msg in Model.Messages)
        {
            string severityClass = "";
            if (msg.Severity == PinefallStudios.EasyLog.Logic.Severities.Error)
            {
                severityClass = "alert-danger";
            }
            else if (msg.Severity == PinefallStudios.EasyLog.Logic.Severities.Warning)
            {
                severityClass = "alert-warning";
            }
            else if (msg.Severity == PinefallStudios.EasyLog.Logic.Severities.Info)
            {
                severityClass = "alert-info";
            }
            else if (msg.Severity == PinefallStudios.EasyLog.Logic.Severities.Success)
            {
                severityClass = "alert-success";
            }

            <tr class="@severityClass">
                <td>@msg.ID</td>
                <td>@msg.Application</td>
                <td>@msg.Assembly</td>
                <td>@msg.Class</td>
                <td>@msg.Method</td>
                <td>@msg.Description</td>
                <td>@msg.Severity.ToString()</td>
                <td>@msg.Date</td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        var selectedApplication = ""
        var selectedSeverity = ""

        var applications = $('#select-application').selectize({
            onChange: function (value) {
                selectedApplication = value;
                onValueChanged();
            }
        });

        var severirites = $('#select-severity').selectize({
            onChange: function (value) {
                selectedSeverity = value;
                onValueChanged();
            }

        });

        function onValueChanged() {           
            var url = [location.protocol, '//', location.host, location.pathname].join('');
            window.location.href = url + "?take=@Model.Take&application=" + selectedApplication + "&severity=" + selectedSeverity
        }
    });
</script>